<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Groupie's Tracker</title>
    <link rel="stylesheet" href="../styling/details.css" type="text/css"/>
</head>
<body>
    <header>
        <h1 id="logo" href="">A Groupie's Tracker</h1>
     </header>
     <div>    
            <a href="/">
                <button>Return Home</button>
            </a>
        </div>
    <div id="images">
    </div>
</body>
</html>