<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Groupie's Tracker</title>
    <link rel="stylesheet" href="../styling/home.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="logo" href="">A Groupie's Tracker</h1>
     </header>
     <div>
         <form id="searchbar" method="POST">
             <input
             name="input"
             type="text" 
             placeholder="Search.." 
             autofocus
             /> <br/>
             <input type="submit" hidden/>
            </form>
            <a href="/">
                <button>Return Home</button>
            </a>
        </div>
    <div id="images">
      {{if .SearchData.SearchResult}}
      {{range .SearchData.SearchResult}}
      <div class="image_link">
          <!-- <a href="/details/{{.Id}}"> -->
                <img src="{{.ImageURL}}" alt="{{.Name}} artwork">
            <!-- </a> -->
      </div>
            {{end}}
      {{else}}
        {{range .Artists}}
        <div class="image_link">
            <!-- <a href="/details/{{.Id}}"> -->
                <img src="{{.ImageURL}}" alt="{{.Name}} artwork">
            <!-- </a> -->
        </div>
        {{end}}
        {{end}}
    </div>
</body>
</html>